.container {

    display: flex;/* converting elements into boxes */
    justify-content: center;/* making focus to the left */
    text-align: center;/* putting text to left side */
    flex-direction: column;/* makes it go down instead of across*/
    font-family:Arial,Helvetica,sans-serif;/* default font */
    margin-left:30px;/* adding space to left so it doesnt rest on side of the screen*/

}

.navi{

    margin-top:30px;  /* gives van bar space between topbar */

}

nav ul li a{

    text-decoration: underline;  /* removes underline from html links */
    text-underline: #ffffff;
    color: #ffffff;  /* sets color of text */

}

nav ul {

    list-style: none; /* Remove default bullet points */
    display: flex; /* Arrange list items in a row */
    justify-content: center; /* Center items horizontally */
    width:100%;
    font-weight: bold;  /* sets text to bold */
    background-color: #23B3C3; /* Optional: background color */
    padding: 10px 0; /* Optional: spacing */

}

nav li{/* creates space around li items in nav bar */

    padding:5px 20px 5px 20px;/* top right bottom left padding*/

}

nav li:hover {/*sets up roll over for the nav bar */

    background-color: #873245;/*changes color on hover*/

}

h1 {

    color: #332727;
    background: #95a894;
    font-size: 50px;
    width: 50%;
    margin:auto;
    font-weight: bold;
    text-underline: #000000;
    border-radius: 30px;

}

img {

    width:300px;

}

body {

    background-color: #696969;

}

p {

    background-color: #23B3C3;

}

#submit{

    font-size: 30px;

}

input{
    font-weight: bold;
    font-size: 17px;
    background-color: #23B3C3;
    border-radius: 50px;
}
