.container {
    display: flex;/* converting elements into boxes */
    justify-content: left;/* making focus to the left */
    text-align: left;/* putting text to left side */
    flex-direction: column;/* makes it go down instead of across*/
    font-family:Arial,Helvetica,sans-serif;/* default font */
    margin-left:30px;/* adding space to left so it doesnt rest on side of the screen*/
    background-color: #5ED991;
}

body {
    background-color: #5ED991;
}

nav ul {
    list-style: none;/*removes bullet points*/
    margin:0;/*removes margin*/
    padding:0;/*removes padding*/
    display: flex; /* stops moving vertically*/
    justify-content: flex-start;/* starts stacking horizontally*/

}

nav li{/* creates space around li items in nav bar */
    padding:5px 20px 5px 20px;/* top right bottom left padding*/
    font-size: 30px;
    margin-right: 25px;
    background-color: #3DFFEF;
    text-decoration: none;
    font-weight: bold;

}

nav a {
    text-decoration: none;
    color: #000000;
}

nav li:hover {/*sets up roll over for the nav bar */
    background-color: #873245;/*changes color on hover*/

}

h1{
    text-align: left;/* making focus to the left */
    font-size: 40px;
    font-weight: bold;
    background-color: #096601;
    color: #6E0000;
    padding: 15px;
    width:30%;

}

p {
    background-color: #3DFFEF;
    font-size: 25px;
    width:1300px;
    text-align: center;
}

input {
    font-size: 30px;
    background-color: #3DFFEF;
    width: 50%;
    padding: 10px 20px 10px 20px;

}

input::placeholder{
    color:#9E0000;
    font-weight: bold;
}


#good{
    color: green;


}

#medium{
    color:yellow;
}

#bad{
    color: red;

}

#logo {
    position: fixed;/* position on screen is fixed to designated coordinates */
    top: 50px;/* pixels from top */
    right: 100px;/* pixels from right */
    width:450px;

}

.content{
    margin-top:30px;
}
